/* css resat */
*{
    margin: 0;
    padding: 0;
}
#navbar{
    display: flex;
    align-items: center;
    position: relative  ;
    top: 0;
}       
#navbar::before{
    content: "";
    background-color: black;
    position: absolute  ;
    z-index: -1;
    opacity: 0.2;
    height: 100%;
    width: 100%;
}

nav ul{
    display: flex;
}
nav ul li {
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;
}
nav ul li a{
    color: rgb(232, 232, 232);
    display: block;
    list-style: none;
    margin: 5px 10px;
    padding:5px;
    /* border: 2px solid rgb(247, 247, 247); */
    border-radius: 20px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer ;
}
nav ul li a:hover{
   background-color: aliceblue;
   color: black;
}





#logo {
    
    margin: 0px 5px;

}
#logo img{
    height: 30px;
    /* width: 100px; */
    margin: 4px 10px;
    border-radius: 20px;
    
}
#home{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 0px 200px;
    height: 300px;
    /* position: relative; */
  
}

#tom{
    top: 0px;
   
    position: relative;
}
#tom::before{
    content: "";
    background: url("BG-1.png") no-repeat center center/cover;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    top: 0px;
    height: 100%;
    width: 100%;
}
#home h1{

    text-align: center;
}
#home p{
    color: rgb(0, 0, 0);
    font-size:.8rem;
    text-align: center;
    padding: 10px 2px;
    font-family: 'Bree Serif', serif;
}

.btn{
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgb(240, 74, 74) ;
    color: aliceblue ;
    font-size: 1rem;
    cursor: pointer;
}
#services{
    display: flex;
    position: relative;


}
#section-services::before{
    content: "";
    background: url("BG-3.png") no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    position: absolute;
}
#section-services{
    position: relative;
}

#section-services h1{
    /* margin: ; */

}
hr{
    border-color:rgb(243, 162, 162) ;
}

#services .box{
    border: 2px solid red;
    border-radius: 28px;
    margin: 5px 20px;
    background-color: rgb(248, 238, 225);
    margin-bottom: 40px;
}
#services .box p{
    font-size: 1rem;
    font-family: 'Bree Serif', serif;
    word-wrap:break-word;

}
#services .box img
{   border: 2px solid rgb(253, 182, 182);
    border-radius:70px ;
    display: block;
    margin: auto;

    height: 200px;
}
#achievement{
    /* display: flex; */
    align-items: center;
    position: relative  ; 
    /* margin: 20px 0px;   */
    top: 0;
}       
#achievement::before{
    content: "";
    background: url("BG-4.png") no-repeat center center/cover;
    position: absolute  ;
    z-index: -1;
    opacity: 0.3;
    height: 100%;
    width: 100%;
}
#achi{
    display: flex;
    justify-content: space-evenly;
   
}
#achi .sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center     ;
    border: 2px solid rgb(240, 74, 74);
    border-radius: 23px;
    margin: 10px 20px;
    padding: 2px 10px;
    word-wrap: break-word;
    background-color: rgb(228, 228, 248);
    margin-bottom:40px ;
    
    
}


#achi .sec img{
    border-radius: 20px;
    height: 80px;
    width: 130px;
}

#contact{
    position: relative;
    /* align-items: center; */
}
#contact::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    background: url("BG-2.png") no-repeat center center/cover ;
}

footer{
    background-color: black;
    font-size: 1rem;
    color: aliceblue;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: .3rem;
    border-radius: 10px;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:34px ;
}
#contact-box form{
    width: 40%;
}
#contact-box form label{
    font-size: 1.5rem;
    font-family: 'Baloo Tamma 2', cursive;

}





.h1-primary{
    padding: 10px ;
    font-size: 2.8rem;
    font-family: 'Baloo Tamma 2', cursive;
}
.h2-secondery{
    /* padding:  ; */
    font-size: 1.8rem;
    font-family: 'Baloo Tamma 2', cursive;
}
.center{
    text-align: center;
}
